<div class="footer_cont">
  <div class="footer_inner">
    <div class="footer_tit">
      <img src="../resources/images/pattern/common/Raeser_logo.svg" alt="" />
    </div>
    <ul class="footer_end">
      <li>
        <a href="#" class="sub_tit">Company</a>
        <a href="#">Overviaw</a>
        <a href="#">Team</a>
        <a href="#">IP</a>
      </li>

      <li>
        <a href="#" class="sub_tit">S-Patch</a>
        <a href="#">S-Patch Wear</a>
        <a href="#">S-Patch App</a>
        <a href="#">S-Patch Web</a>
        <a href="#">S-Patch AI</a>
      </li>

      <li>
        <a href="#" class="sub_tit">News</a>
        <a href="#">Press</a>
        <a href="#">Event</a>
        <a href="#">Story</a>
      </li>

      <li>
        <a href="#" class="sub_tit">Support</a>
        <a href="#">Manual/FAQ</a>
        <a href="#">Inquiry</a>
        <a href="#">Contact</a>
      </li>

      <li>
        <a href="#" class="sub_tit">S-Patch Web</a>
        <a href="#">S-Patch Web(KR)</a>
        <a href="#">S-Patch Web(AU)</a>
        <a href="#">S-Patch Web(EU)</a>
      </li>

      <li>
        <a href="#" class="sub_tit">Download</a>
        <a href="#">Brochure</a>
        <a href="#"> </a>
        <a href="#">개인정보처리방침</a>
      </li>
    </ul>
  </div>
</div>
