<div class="footer_cont">
  <div class="footer_inner">
    <div class="footer_tit">
      <img src="../resources/images/pattern/common/Raeser_logo.svg" alt="" />
    </div>
    <ul class="footer_end">
      <li><a href="#">Company</a></li>
      <li><a href="#">Overviaw</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">IP</a></li>
    </ul>
    <ul class="footer_end">
      <li><a href="#">S-Patch</a></li>
      <li><a href="#">S-Patch Wear</a></li>
      <li><a href="#">S-Patch App</a></li>
      <li><a href="#">S-Patch Web</a></li>
      <li><a href="#">S-Patch AI</a></li>
    </ul>
    <ul class="footer_end">
      <li><a href="#">News</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Event</a></li>
      <li><a href="#">Story</a></li>
    </ul>
    <ul class="footer_end">
      <li><a href="#">Support</a></li>
      <li><a href="#">Manual/FAQ</a></li>
      <li><a href="#">Inquiry</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="footer_end">
      <li><a href="#">Download</a></li>
      <li><a href="#">Brochure</a></li>
      <li><a href="#"> </a></li>
      <li><a href="#">개인정보처리방침</a></li>
    </ul>
  </div>
</div>
