
// 사이트 컨텐츠 내용

.slide-intro {
  .swiper-slide {
    position: relative;
    &.swiper-slide-active {
      .text-area {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-position: 50% 100%;
    }
    .text-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 70%;
      max-width: 400px;
      opacity: 0;
      transition: all 0.5s;
      
      // .text-area__tit
      &__tit {
        font-size: 3rem;
        color: $gray-90;
        font-family: "GmarketSansMedium";
        font-weight: $font-medium;
      }
      &__cont {
        color: $gray-70;
      }
      &__goto {
        display: inline-block;
        margin-top: 20px;
        padding: 7px 20px;
        background: $primary;
        color: $white;
      }
    }
    img {
      height: 50vh;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

// tablet
@media screen and (min-width: 600px) {
  .slide-intro .swiper-slide img {
    height: 70vh;
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .slide-intro {
    .swiper-slide {
      border-radius: 30px;
      img {
        border-radius: 30px;
        height: 70vh;
      }
      .text-area {
        width: 100%;
        max-width: none;
        text-align: left;
      }
      .text-area__tit {
        font-size: 6rem;
      }
      .text-area__cont {
        font-size: 2rem;
      }
      .text-area__goto {
        margin-top: 30px;
      }
    }
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.slide-studio {
  overflow: visible;
  width: 80%;
  margin-left: 0;
  @include mobileMore {
    width: 90%;
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
  }
  .swiper-pagination {
    bottom: -50px;
  }
}

.lst_tag {
  display: inline-block;
  padding: 2px 15px 4px 15px;
  border: 1px solid $white;
  border-radius: 50px;
  background-color: #000;
}

.sim_wrap {
  height: 60px;
  width: 60px;
  background-color: #181818;
  border-radius: 60px;
  i {
    font-size: 40px;
  }
  & {
    width: 50px;
    height: 50px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// second page
.section-What {
  background: #027F04;
  .list-circle {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 300px;
    li {
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.2);
      width: 250px;
      height: 250px;
      border-radius: 250px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      &:nth-child(2) {
        margin-top: -25px;
      }
      &:nth-child(3) {
        margin-top: -25px;
      }
    }
  }
}

// .list-circle li:nth-child(2) {}