
// 사이트 컨텐츠 내용

.slide-intro {
  .swiper-slide {
    position: relative;
    &.swiper-slide-active {
      .text-area {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-position: 50% 100%;
    }
    .text-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 70%;
      max-width: 400px;
      opacity: 0;
      transition: all 0.5s;
      
      // .text-area__tit
      &__tit {
        font-size: 3rem;
        color: $gray-90;
        font-family: "GmarketSansMedium";
        font-weight: $font-medium;
      }
      &__cont {
        color: $gray-70;
      }
      &__goto {
        display: inline-block;
        margin-top: 20px;
        padding: 7px 20px;
        background: $primary;
        color: $white;
      }
    }
    img {
      height: 50vh;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

// tablet
@media screen and (min-width: 600px) {
  .slide-intro .swiper-slide img {
    height: 70vh;
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .slide-intro {
    .swiper-slide {
      border-radius: 30px;
      img {
        border-radius: 30px;
        height: 70vh;
      }
      .text-area {
        width: 100%;
        max-width: none;
        text-align: left;
      }
      .text-area__tit {
        font-size: 6rem;
      }
      .text-area__cont {
        font-size: 2rem;
      }
      .text-area__goto {
        margin-top: 30px;
      }
    }
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.slide-studio {
  overflow: visible;
  width: 80%;
  margin-left: 0;
  @include mobileMore {
    width: 90%;
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
  }
  .swiper-pagination {
    bottom: -50px;
  }
}

.lst_tag {
  display: inline-block;
  padding: 2px 15px 4px 15px;
  border: 1px solid $white;
  border-radius: 50px;
  background-color: #000;
}

.sim_wrap {
  height: 60px;
  width: 60px;
  background-color: #181818;
  border-radius: 60px;
  i {
    font-size: 40px;
  }
  & {
    width: 50px;
    height: 50px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// second page
.tit_box {
  .who {
    color: #027F04;
    font-size: 12px;
    font-weight: bolder;
  }
  .white {
    color: $white;
    font-size: 12px;
    font-weight: bolder;
  }
  .focus {
    font-size: 32px;
    margin: 20px 0 15px;
    line-height: 1.2;
    .tit_color {
      display: block;
      color: #027F04;
      font-weight: bolder;
      
    }
  }
}
.item_info {
  font-size: 13px;
  opacity: 0.7;
}
.section-What {
  background: #027F04;
  .circle-line {
    display: flex;
    justify-content: center;
  }

  .list-circle {
    width: 270px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-style: dashed;
    border-radius: 300px;
    li {
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.2);
      width: 250px;
      height: 250px;
      border-radius: 250px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      &:nth-child(2) {
        margin-top: -25px;
      }
      &:nth-child(3) {
        margin-top: -25px;
      }
      .fz_42 {
        font-size: 42px;
        font-weight: bolder;
        color: #ffff;
      }
      .fz_12 {
        font-size: 12px;
        color: #ffff;
      }
    }
  }
}
.circle_off {
  position: relative; /* 자식 요소의 position 조정을 위한 기준 설정 */
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #ffff;
  opacity: 0.7;
  
}
.circle_on {
  position: relative; /* 자식 요소의 position 조정을 위한 기준 설정 */
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #027f04;

  .circle_black {
    position: absolute; /* 부모 요소(.circle_on)를 기준으로 위치 조정 */
    top: 4px; /* 원하는 만큼 위로 이동 */
    left: 4px; /* 수평 조정 (필요 시) */
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: $black;
    z-index: 1; /* div 위로 올리기 */
  }
}


// .list-circle li:nth-child(2) {}