.video_intro {
  video {
    width: 100%;
  }
  .main_txt_tit {
    font-size: 32px;
  }

  .main_txt_sub {
    font-size: 22px;
    margin-top: 23px;
  }

  .text-area__goto {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    border-radius: 40px;
    border: 1px solid #fff;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
  }

  .main_txt_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    .main_txt {
      margin-bottom: 200px;
    }
    .btn_icon {
      width: 20px;
      height: 20px;
    }
  }
}

.section01 {
  .inner {
    margin: 40px;
  }
  .section__tit motion {
    padding: auto;
    display: contents;
    text-align: left;
  }
  .tit_bold_top {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .tit_green {
    font-size: 14px;
  }
  .sm_fz {
    font-size: 12px;
  }
  .md_fz18 {
    font-size: 18px;
  }
  .section__cont {
    ul {
      margin: 80px 0;
    }
    li {
      margin-top: 85px;
      display: flex;
      gap: 20px;
      align-items: center;
      .f_xs_main {
        font-size: 12px;
      }
    }

    .sim_wrap {
      width: 65px;
      height: 65px;
    }
  }
}

.section02 {
  display: block;
  text-align: left;
  .tit_bolder {
    font-size: 50px;
  }
  .tit_bold {
    font-size: 30px;
  }
  .tit_green {
    font-size: 14px;
  }
  .section02_txt_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
  }
  .lst_note {
    font-size: 20px;
  }
  li {
    img {
      border-radius: 30px;
    }
  }
}

.section03 {
  overflow: hidden;
  .section__cont {
    .section03_list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        flex: 1;
        text-align: center;

        figure {
          margin: 0;

          img {
            max-width: none;
            height: auto;
            transform: scale(1.2);
            overflow: visible;
          }
        }
      }
    }
  }
}

.section04 {
  .swiper-slide {
    overflow: hidden;
    border-radius: 25px;
    background: #151515;
  }
  .section04_img_box {
    height: 200px;
  }
  .section04_txt_box {
    display: block;
    unicode-bidi: isolate;

    height: 120px;
    padding: 18px 20px 18px 20px;

    .list_tag {
      padding: 0 10px 5px 10px;
      border-radius: 28px;
      display: inline-block;
      border: 1px solid #fff;
    }
  }
}
